{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">

<head>
	<!-- Copiar siempre en las plantillas  -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Hasta aca  -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">


	<title>{% block title %}{% endblock %} | Punto Verde</title>
</head>

<body style="background-color: #e3f2fd;">
	{% block menu %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light,navbar navbar-dark bg-primary fixed-top" id="mainNav">
		<div class="container">
			<a class="navbar-brand" href="{% url 'index' %}">Punto Verde</a>
			<button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				Menú
				<i class="fa fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav mr-auto " align="center">
					<li class="nav-item {% if request.path == '/' %}active {% endif %} ">
						<a class="nav-link" href="{% url 'index' %}">Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if request.path == '/QuienesSomos' %}active {% endif %}" href="{% url 'somos' %}">Quiénes somos</a>
					</li>
					<li class="nav-item {% if request.path == '/noticias' %}active {% endif %}">
						<a class="nav-link" href="{% url 'listarnoticias' %}">Noticias</a>
					</li>
					<!-- <li class="nav-item">
						<a class="nav-link" href="#">Registrarse</a>
					</li> -->
					<!-- <li class="nav-item">
						<a class="nav-link" href="{% url 'login' %}">Login</a>
					</li> -->
					<li class="nav-item">
						<a class="nav-link" href="{% url 'contacto' %}">Contácto</a>
					</li>

				</ul>
				<ul class="navbar-nav">
					{% if not request.user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'login' %}">Ingresar</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'signup' %}">Registrarse</a>
					</li>
					{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'profile' %}">Perfil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'logout' %}">Salir</a>
					</li>
					{% endif %}
				</ul>

			</div>
		</div>	
	</nav>
	{% endblock %}
	


	<!-- Cabecera -->
	{% block header %}
	
	{% endblock %}

	<!-- Contenido -->
	<div >
		{% block contenedor %}
		{% endblock %}
	</div>

	{% if request.path != "/"  %}<hr>{% endif %}

	{% block footer %}
	<footer>
		<div id="footer">
			<p class="fot">2019 <strong>PUNTOVERDE</strong>/DESARROLADO JP-FC</p>
			<img src="{% static 'img/Facebook.png' %}" width="30" height="30" alt="Logo" href="www.Facebook.com"; >
		</div>
	</footer>

	{% endblock %}


	
	

	

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>


</body>

</html>