{% extends 'inicio/base.html' %}
{% load staticfiles %}

{% block title %}Quienes Somos{% endblock %}

{% block contenedor %}
<!-- <div id="QuienesSomos">
	<div>
		<div style="text-align: center;" class="s-title "><div class="s-component s-text"><h2 class="s-component-content s-font-title"><p>¿Quienes Somos?</p>

			<p >Punto verde es una pagina que busca informar sobre buenas practicas  medio ambientales,para ayudar a descontaminar nuestro planeta. <strong>En Punto Verde </strong>Buscamos enseñar sobre  sistemas de reciclaje, puntos limpios, manejo de residuos,ayudamos a gestionar el reciclaje de <strong>maderas, metales, plásticos (incluyendo Plumavit), vidrio, neumáticos, cartón, pilas, textiles, cartón para bebidas, papel</strong>, entre muchos otros.</p><p> </p><p style="text-align:left"> </p><p style="text-align:left"><strong>Misión:</strong> Hacer conscientes a las personas sobre el manejo sustentable de sus residuos</p><p style="text-align:left"><strong>Visión:</strong> Dar a conocer podemos producir eficientemente. Impactando positivamente a las comunidades y naturaleza circundante</p><p style="text-align:left"><strong>Nuestra Pregunta:</strong> ¿Qué planeta queremos dejarle a nuestros hijos?</p>
		</div>
	</div>
</div> -->
<br>
<br>
<br>
<div class="row"> 
    <div class="col-lg-4 col-md-5 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'img/Inicioback.jpg' %}" alt="">
    </div>
    <div class="col-lg-6 col-md-7">
        <h2 class="section-heading">Punto Verde</h2>   
        <p><strong>Punto verde es una comunidad ,que busca informar sobre buenas practicas  medio ambientales,para ayudar a descontaminar nuestro planeta.</strong> </p>
        <p>En Punto Verde </strong>buscamos enseñar sobre  sistemas de reciclaje, puntos limpios, manejo de residuos,ayudamos a gestionar el reciclaje de <strong>maderas, metales, plásticos (incluyendo Plumavit), vidrio, neumáticos, cartón, pilas, textiles, cartón para bebidas, papel</strong>, entre muchos otros.</p>
    </div>
    <div class="col-lg-4 col-md-5 offset-lg-1">
    	<br>
        <img class="img-fluid avatar" src="{% static 'img/Slider1.jpg' %}" alt="">

    </div>
    <div class="col-lg-6 col-md-7">
        <h3 class="section-heading">Misión:</h3>   
        <p><strong>Hacer conscientes a las personas sobre el manejo sustentable de sus residuos.</strong></p>
        <h3 class="section-heading">Visión:</h3>
        <p><strong>Buscamos impactar positivamente a las comunidades y en la naturaleza circundante.</strong></p>
        <h3 class="section-heading">¿Nuestra Pregunta?:</h3>
        <p><strong>¿Qué planeta queremos dejarle a nuestros hijos?</strong></p>
        
    </div>
</div>
<br>


<footer>
    <div style="text-align: center; background: #3F5BCF; height: 50px;" >
      <div id="footer">
        <p class="footer">2019 <strong>PUNTOVERDE</strong>/DESARROLADO JP-FC</p>
        <img src="{% static 'img/Facebook.png' %}" width="30" height="30" alt="Logo" href="www.Facebook.com"; >
      </div>
    </div>
    
  </footer>
{% endblock %}

