{% extends 'inicio/base.html' %}
{% load staticfiles %}

{% block title %}Quienes Somos{% endblock %}

{% block contenedor %}
	<div id="QuienesSomos">
	<div>
		<div style="text-align: center;" class="s-title "><div class="s-component s-text"><h2 class="s-component-content s-font-title"><p>¿Quienes Somos?</p>

			<p >Punto verde es una pagina que busca informar sobre buenas practicas  medio ambientales,para ayudar a descontaminar nuestro planeta. <strong>En Punto Verde </strong>Buscamos enseñar sobre  sistemas de reciclaje, puntos limpios, manejo de residuos,ayudamos a gestionar el reciclaje de <strong>maderas, metales, plásticos (incluyendo Plumavit), vidrio, neumáticos, cartón, pilas, textiles, cartón para bebidas, papel</strong>, entre muchos otros.</p><p> </p><p style="text-align:left"> </p><p style="text-align:left"><strong>Misión:</strong> Hacer conscientes a las personas sobre el manejo sustentable de sus residuos</p><p style="text-align:left"><strong>Visión:</strong> Dar a conocer podemos producir eficientemente. Impactando positivamente a las comunidades y naturaleza circundante</p><p style="text-align:left"><strong>Nuestra Pregunta:</strong> ¿Qué planeta queremos dejarle a nuestros hijos?</p>
		</div>
	</div>
</div>
{% endblock %}

