{% extends 'inicio/base.html' %}
{% load staticfiles %}

{% block title %}Contacto{% endblock %}

{% block contenedor %}

<br>
<br>
<br>

<h2 id="InicioFormulario" style="text-align: center;">Envianos tus consultas</h2>

<div class="container">
	{% if 'FALLO' in request.GET %}
	<p><b>Algo salio mal no hemos recibido su solicitud </b> </p>
	{% endif %}

	{% if 'OK' in request.GET %}
	<p><b>Hemos recibido su solicitud </b> </p>
	{% endif %}
</div>


<form id="formContacto" action="" method="POST">
	<br>
	{% csrf_token %}
	<div class="container">
		<div class="form-row">
			<div class="col-md-5 mb-3">
				<label for="validationDefault01">Nombre *</label>
				{{form.nombre}}
				
			</div>

			<div class="col-md-5 mb-3">
				<label for="validationDefault02">Apellidos *</label>
				{{form.apellido}}
				
			</div>

		</div>

		<div class="form-row">
			<div class="col-md-7 mb-3">
				<label for="validationDefault03">Correo *</label>
				{{form.correo}}
			</div>
			<div class="col-md-7 mb-2">
				<label for="validationDefault05">Mensaje *</label>
				{{form.asunto}}
			</div>
		</div>





		<div class="text-center">
			<button type="submit" class="btn btn-primary">Enviar</button>
		</div>





	</div>


</form>
<br>
<br>
<br>
<br>
<footer>
    <div style="text-align: center; background: #3F5BCF; height: 50px;" >
      <div id="footer">
        <p class="footer">2019 <strong>PUNTOVERDE</strong>/DESARROLADO JP-FC</p>
        <img src="{% static 'img/Facebook.png' %}" width="30" height="30" alt="Logo" href="www.Facebook.com"; >
      </div>
    </div>
    
  </footer>
 

{% endblock %}