{% extends 'inicio/base.html' %}
{% load staticfiles %}

{% block title %}Contacto{% endblock %}

{% block contenedor %}

<br>
<br>
<br>

<!-- <h2>Envianos tus consultas</h2>
{% if 'OK' in request.GET %}
  <p><b>Hemos recibido su solicitud </b> </p>
{% endif %}
<form action="" method="POST">
	{% csrf_token %}
	
	<table>
		{{form.as_table}}
	</table>
	<input type="submit" id="btnEnviar" name="btnEnviar" value="Enviar" class="btnEnviar"/>

	
	

</form>
{{request.POST}} -->






<h2 id="InicioFormulario" style="text-align: center;">Envianos tus consultas</h2>

<div class="container">
	{% if 'FALLO' in request.GET %}
	<p><b>Algo salio mal no hemos recibido su solicitud </b> </p>
	{% endif %}

	{% if 'OK' in request.GET %}
	<p><b>Hemos recibido su solicitud </b> </p>
	{% endif %}
</div>


<form id="formContacto" action="" method="POST">
	<br>
	{% csrf_token %}
	<div class="container">
		<div class="form-row">
			<div class="col-md-5 mb-3">
				<label for="validationDefault01">Nombre *</label>
				{{form.nombre}}
				
			</div>

			<div class="col-md-5 mb-3">
				<label for="validationDefault02">Apellidos *</label>
				{{form.apellido}}
				
			</div>

		</div>

		<div class="form-row">
			<div class="col-md-7 mb-3">
				<label for="validationDefault03">Correo *</label>
				{{form.correo}}
			</div>
			<div class="col-md-6 mb-4">
				<label for="validationDefault05">Mensaje *</label>
				{{form.asunto}}
			</div>
		</div>





		<div class="text-center">
			<button type="submit" class="btn btn-primary">Enviar</button>
		</div>

		<!-- validar datos del form con JavaScrips -->
		<!-- <script>
			var formulario = document.getElementById("formContacto");


			function validarDatos(formContacto){
				var nombre,apellido,correo,correo2,mensaje,expresion;
				nombre=document.getElementById("nombre");
				apellido=document.getElementById("validationDefault02").value;
				correo=document.getElementById("validationDefault03").value;
				correo2=document.getElementById("validationDefault04").value;
				mensaje=document.getElementById("validationDefault05").value;

				expresion=/\w+@\w+\.+[a-z]/;

				if(nombre ===""){
					alert("Ingrese Nombre");
					return false;
				}
				else if(nombre.length<=3 || nombre.length>=20){
					alert("Ingrese Nombre Valido");
					return false;
				}
				else if (apellido ===""){
					alert("Ingrese Apellido");
					return false;
				}
				else if (apellido.length<=3 || apellido.length>=30){
					alert("Ingrese Apellido Valido");
					return false;
				}
				else if (correo ===""){
					alert("Ingrese Correo");
					return false;
				}
				else if (correo.length<=6){
					alert("Ingrese Correo Valido");
					return false;
				}
				else if (correo.length>=50){
					alert("Correo demasiado largo");
					return false;
				}
				else if (!expresion.test(correo)){
					alert("Formato Correo Invalido");
					return false;
				}
				else if (correo2===""){
					alert("Re-Ingrese correo");
					return false;
				}
				else if (correo2!=correo){
					alert("Correo NO coinciden");
					return false;
				}
				else if (mensaje.length<=4){
					alert("Ingrese Mensaje más largo");
					return false;
				}


			}
		</script> -->


	</div>


</form>
 

{% endblock %}