<!DOCTYPE html>
<html lang="es">

<head>
	<!-- Copiar siempre en las plantillas  -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Hasta aca  -->
	<title>{% block title%}Punto Verde{% endblock %}</title>
</head>

<body>
	{% block menu %}
	<nav class="navbar navbar-inverse bg-inverse navbar-dark bg-primary navbar-toggleable-sm fixed-top" >
		<button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div id="hora" style="color:#A2EBE8 ;" style="text-align: center;">
		</div>



		<a class="navbar-brand" href="#">
			<img src="img/Ico.svg" width="30" height="30" alt="Logo">
			Punto Verde
			
		</a>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			<div class="navbar-nav mr-auto text-center list-group" id="list-example">
				<a class="nav-item nav-link" href="#">Inicio</a>
				<a class="nav-item nav-link" href="#QuienesSomos">¿Quienes Somos?</a>
				<a class="nav-item nav-link" href="#Reciclar">¿Que es reciclar?</a>
				
				<a class="nav-item nav-link" href="#InicioFormulario">Cont&aacutectanos</a>
			</div>
		</nav>
		<div data-spy="scroll" data-target="navbarTogglerDemo01" data-offset="0" class="scrollspy-example">
		</div>
		{% endblock %}

  {% block contenedor %}
  <h3>ESTE ES EL BLOQUE CONTENEDOR</h3>
  {% endblock %}

  {% block footer %}
  <footer>
  	<div id="footer">
  		<p class="fot">2019 <strong>PUNTOVERDE</strong>/DESARROLADO JP-FC</p>
  		<img src="img/Facebook.png" width="30" height="30" alt="Logo" href="www.Facebook.com"; >
  	</div>
  </footer>
  {% endblock %}



</body>
</html>