{% extends 'inicio/base.html' %}
{% load staticfiles %}

{% block title %}Noticias{% endblock %}

{% block contenedor %}

<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/Inicioback.jpg' %}" alt="">
      

    </div>
  </div>
</section>
<br>

{% for noticia in noticias %}
<!-- Noticias -->
<div class="row project">   
  <div class="col-lg-3 col-md-4 offset-lg-1">
    <img class="img-fluid" src="{{noticia.imagen.url}}" alt="">
  </div>
  <div class="col-lg-7 col-md-8">
    <h2 class="section-heading title">{{noticia.titulo}}</h2>   
    <p>{{noticia.descripcion}}</p>
  </div>
</div>
<hr>
{% endfor %}


{% endblock %}