{% extends 'inicio/base.html' %}
{% load staticfiles %}

{% block title %}Noticias{% endblock %}


{% block contenedor %}
<br>
<br>
<br>
{% if request.user.is_staff %}
<div class="container">
  <nav class="nav">
    <a class="nav-link active" href="admin/contenido/noticia/">Lista de Contenido</a>
    <a class="nav-link" href="admin/contenido/noticia/add/">Crear Noticia</a>
  </nav>
</div>
{% endif %}
<br>
{% for noticia in noticias %}
<!-- Noticias -->
<div class="row project">
  <div class="col-lg-3 col-md-4 offset-lg-1">
    <img class="img-fluid" src="{{noticia.imagen.url}}" alt="">
  </div>
  <div class="col-lg-7 col-md-8">
    <h2 class="section-heading title">{{noticia.titulo}}</h2>   
    <p>{{noticia.descripcion}}</p>
  </div>
</div>
{% endfor %}


{% endblock %}